n8n/pharma_ai.json
{
  "name": "pharma-ai",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pharma-ai",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2140,
        -300
      ],
      "id": "453de700-2866-43d3-8164-10123c31a399",
      "name": "Webhook",
      "webhookId": "430f9f98-e7d6-437d-b5cb-9fb108125c64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02bff0ac-4268-44a9-afee-15763ceec8f0",
              "name": "lead_farmacia",
              "value": "={{ $json.body.nomeFarmacia }}",
              "type": "string"
            },
            {
              "id": "577ea6ec-9953-4c1b-bbef-8211db58275f",
              "name": "lead_contato",
              "value": "={{ $json.body.nomeContato }}",
              "type": "string"
            },
            {
              "id": "23461847-7cdb-48fd-83ba-d39135faddc6",
              "name": "lead_email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "ccd6e2c5-d555-4d58-b2bb-1bc4979cd8aa",
              "name": "lead_telefone",
              "value": "={{ $json.body.telefone }}",
              "type": "string"
            },
            {
              "id": "63cfaa87-cb1f-4c9b-8482-2f5c02985b8c",
              "name": "lead_origem",
              "value": "={{ $json.body.origem }}",
              "type": "string"
            },
            {
              "id": "f43ba0c5-2ef3-4bf5-bc5f-710447052cc3",
              "name": "lead_data",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "2348f71a-6a28-4108-af4c-800d29f08a90",
              "name": "conversa_completa",
              "value": "={{ $json.body.messages_transcription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1920,
        -160
      ],
      "id": "ea59c3bf-78bb-460e-a8f8-b2e8a8c221c0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "leads_chatbot",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "=nome_contato",
              "fieldValue": "={{ $json['Nome Contato'] }}"
            },
            {
              "fieldId": "=nome_farmacia",
              "fieldValue": "={{ $json['Nome Farmácia'] }}"
            },
            {
              "fieldId": "=email",
              "fieldValue": "={{ $json.Email }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $json.Telefone }}"
            },
            {
              "fieldId": "status_contato",
              "fieldValue": "={{ $json.Status }}"
            },
            {
              "fieldId": "observacoes",
              "fieldValue": "={{ $json.Origem }}"
            },
            {
              "fieldId": "transcricao_conversa_json",
              "fieldValue": "={{ $json.Conversa }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1440,
        -160
      ],
      "id": "1f830af9-a55e-464b-9ab4-b961fed1e07b",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "wJJZqBvbFQKzXIPK",
          "name": "supabase_pharma_ai"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1K9w0fdFOR0xO4PrAPA-Ie7u77PUBJ5yQcMnexYls42U",
          "mode": "list",
          "cachedResultName": "Leads_interassados_pharma.ai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K9w0fdFOR0xO4PrAPA-Ie7u77PUBJ5yQcMnexYls42U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K9w0fdFOR0xO4PrAPA-Ie7u77PUBJ5yQcMnexYls42U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome Contato": "={{ $json.lead_contato }}",
            "Nome Farmácia": "={{ $json.lead_farmacia }}",
            "Email": "={{ $json.lead_email }}",
            "Telefone": "={{ $json.lead_telefone }}",
            "Data": "={{ $json.lead_data }}",
            "Origem": "={{ $json.lead_origem }}",
            "Conversa": "={{ $json.conversa_completa }}",
            "Status": "Qualificado"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nome Contato",
              "displayName": "Nome Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome Farmácia",
              "displayName": "Nome Farmácia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origem",
              "displayName": "Origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conversa",
              "displayName": "Conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1680,
        -300
      ],
      "id": "e6e20fa9-f206-412e-916e-74cf48746475",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DX0UfAyFlMWlHfTX",
          "name": "leads_interessados_pharma.ai"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ottof6@gmail.com",
        "subject": "=🎯 Novo Lead - {{ $('Edit Fields').item.json.lead_farmacia }}",
        "emailType": "text",
        "message": "=🎯 NOVO LEAD QUALIFICADO\n\n📋 DADOS DO LEAD:\n• Farmácia: {{ $('Edit Fields').item.json.lead_farmacia }}\n• Contato: {{ $('Edit Fields').item.json.lead_contato }}\n• Email: {{ $('Edit Fields').item.json.lead_email }}\n• Telefone: {{ $('Edit Fields').item.json.lead_telefone }}\n• Data: {{ $('Edit Fields').item.json.lead_data }}\n\n📱 ORIGEM: {{ $('Edit Fields').item.json.lead_origem }}\n\n---\nPharma.AI - Sistema Inteligente para Farmácias\nAcesse: https://pharma-ai.com.br",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1180,
        -300
      ],
      "id": "3c56d31f-b251-46bf-b8e8-7da609ac891d",
      "name": "Gmail",
      "webhookId": "751111ac-bc1f-4291-8a8e-500c32873a04",
      "credentials": {
        "gmailOAuth2": {
          "id": "roO8Sc9wdOEfA3rs",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4c41290c-4016-4d51-aca8-81870ba4c7c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e898b45972b29bf21dbc778c4010801571e7e95c50ad724996f0c79d6cd7a946"
  },
  "id": "5qXL74TPu45wmNfu",
  "tags": []
}